.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

nav {
  background-color: rgba(255, 0, 0, 0.584);
  display: flex;
  justify-content: center;
  font-size: large;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.lists{
  height: calc(100% - 182px);
  overflow: auto;
}

.InputField {
  border: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  box-shadow: 0px 0px 13.98256px 10.4564px rgba(0.1, 0.1, 0.1, 0.1);
  margin-right: 20px;
  text-indent: 10px;
}

.Input button {
  width: 45px;
  height: 40px;
  justify-content: center;
  border-radius: 10px;
  background-color: red;
  color: aliceblue;
  font-weight: bold;
  border: 0;
  box-shadow: 0px 0px 13.98256px 10.4564px rgba(0.1, 0.1, 0.1, 0.1);
}

.listtile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border-color: red;
  border-radius: 10px;
  border-style: solid;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
  width: 500px;
  padding: 10px 20px;
  box-shadow: 0px 0px 28.98256px 5.4564px rgba(255, 0, 0, 0.5);
}

.listtile .icons {
  display: flex;
  gap: 10px;
}

.listtile .display {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
}

.listtile .display h2 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 28.98256px 5.4564px rgba(0, 0, 0, 0.5);
  width: 90%; /* Ensures the modal content doesn't touch the screen edges */
  max-width: 400px; /* Maximum width for the modal content */
}

.modal-content input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-content button:first-of-type {
  background-color: red;
  color: white;
}

.modal-content button:last-of-type {
  background-color: grey;
  color: white;
}
